Routing/Routing.Silverlight/Service References/ScenarioService/Scenario52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44841/Services/Scenario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:44841/Services/Scenario.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDistanceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistanceDto" nillable="true" type="tns:DistanceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistanceDto" nillable="true" type="tns:ArrayOfDistanceDto" />
  <xs:complexType name="DistanceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="From_Latitide" type="xs:double" />
      <xs:element minOccurs="0" name="From_Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Km" type="xs:double" />
      <xs:element minOccurs="0" name="TimeInSeconds" type="xs:double" />
      <xs:element minOccurs="0" name="To_Latitide" type="xs:double" />
      <xs:element minOccurs="0" name="To_Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistanceDto" nillable="true" type="tns:DistanceDto" />
  <xs:complexType name="ArrayOfOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDto" nillable="true" type="tns:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDto" nillable="true" type="tns:ArrayOfOrderDto" />
  <xs:complexType name="OrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delivering" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Volume" type="xs:double" />
      <xs:element minOccurs="0" name="Volume_Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="Weight_Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDto" nillable="true" type="tns:OrderDto" />
  <xs:complexType name="ArrayOfSimulationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDto" nillable="true" type="tns:SimulationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimulationDto" nillable="true" type="tns:ArrayOfSimulationDto" />
  <xs:complexType name="SimulationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Returning_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Returning_Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Returning_Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Starting_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Starting_Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Starting_Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Voyages" nillable="true" type="tns:ArrayOfVoyageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimulationDto" nillable="true" type="tns:SimulationDto" />
  <xs:complexType name="ArrayOfVoyageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoyageDto" nillable="true" type="tns:VoyageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoyageDto" nillable="true" type="tns:ArrayOfVoyageDto" />
  <xs:complexType name="VoyageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departing" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Exitmated_Time" type="ser:duration" />
      <xs:element minOccurs="0" name="Extimated_Lenght_Km" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Orders" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoyageDto" nillable="true" type="tns:VoyageDto" />
</xs:schema>