Routing/Routing.Silverlight/Service References/ScenarioService/Scenario3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Command" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Command" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Routing/Services/Scenario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" />
  <xs:complexType name="Create_Scenario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Scenario" nillable="true" type="tns:ScenarioDto" />
      <xs:element minOccurs="0" name="ScenarioId_To_Be_Deleted" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Create_Scenario" nillable="true" type="tns:Create_Scenario" />
  <xs:complexType name="ScenarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" minOccurs="0" name="Orders" nillable="true" type="q1:ArrayOfOrderDto" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" minOccurs="0" name="Simulations" nillable="true" type="q2:ArrayOfSimulationDto" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScenarioDto" nillable="true" type="tns:ScenarioDto" />
</xs:schema>