Routing/Routing.Silverlight/Service References/ScenarioService/Scenario53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44841/Services/Scenario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Command" />
  <xs:element name="Create_Scenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Command" minOccurs="0" name="command" nillable="true" type="q1:Create_Scenario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_ScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Scenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ScenarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Command" minOccurs="0" name="Get_ScenarioResult" nillable="true" type="q2:ScenarioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>