Routing/Routing.Silverlight/Service References/SimulationService/SimulationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimulationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimulationDto" nillable="true" type="tns:SimulationDto" />
  <xs:complexType name="ArrayOfOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDto" nillable="true" type="tns:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDto" nillable="true" type="tns:ArrayOfOrderDto" />
  <xs:complexType name="OrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="tns:QuantityDto" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDto" nillable="true" type="tns:OrderDto" />
  <xs:complexType name="QuantityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuantityDto" nillable="true" type="tns:QuantityDto" />
</xs:schema>