Routing/Routing.Silverlight/Service References/ServiceReferences/References4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Abstracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Abstracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAbstractScenarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbstractScenarioDto" nillable="true" type="tns:AbstractScenarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbstractScenarioDto" nillable="true" type="tns:ArrayOfAbstractScenarioDto" />
  <xs:complexType name="AbstractScenarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractScenarioDto" nillable="true" type="tns:AbstractScenarioDto" />
  <xs:complexType name="ArrayOfAbstractSimulationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbstractSimulationDto" nillable="true" type="tns:AbstractSimulationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbstractSimulationDto" nillable="true" type="tns:ArrayOfAbstractSimulationDto" />
  <xs:complexType name="AbstractSimulationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractSimulationDto" nillable="true" type="tns:AbstractSimulationDto" />
</xs:schema>