Routing/Routing.Silverlight/Service References/ServiceReferences/References3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Query" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchDestinations">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NearByPagedQuery">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchDestinations" nillable="true" type="tns:SearchDestinations" />
  <xs:complexType name="NearByPagedQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Paging">
        <xs:sequence>
          <xs:element minOccurs="0" name="NearBy_Latitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="NearBy_Longitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="NearBy_Radius" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NearByPagedQuery" nillable="true" type="tns:NearByPagedQuery" />
  <xs:complexType name="Paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descending" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalResults" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paging" nillable="true" type="tns:Paging" />
  <xs:complexType name="SearchScenarios">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Paging">
        <xs:sequence>
          <xs:element minOccurs="0" name="From" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="To" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchScenarios" nillable="true" type="tns:SearchScenarios" />
</xs:schema>