Routing/Routing.Silverlight/Service References/ServiceReferences/References2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDestinationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationDto" nillable="true" type="tns:DestinationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationDto" nillable="true" type="tns:ArrayOfDestinationDto" />
  <xs:complexType name="DestinationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Radius" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationDto" nillable="true" type="tns:DestinationDto" />
</xs:schema>