Routing/Routing.Silverlight/Service References/ServiceReferences/References1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Routing/Services/References.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Query" />
  <xs:import schemaLocation="http://localhost/Routing/Services/References.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" />
  <xs:import schemaLocation="http://localhost/Routing/Services/References.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Abstracts" />
  <xs:element name="Known_Destinations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Query" minOccurs="0" name="query" nillable="true" type="q1:SearchDestinations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Known_DestinationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto" minOccurs="0" name="Known_DestinationsResult" nillable="true" type="q2:ArrayOfDestinationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Scenarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Query" minOccurs="0" name="query" nillable="true" type="q3:SearchScenarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_ScenariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Abstracts" minOccurs="0" name="Search_ScenariosResult" nillable="true" type="q4:ArrayOfAbstractScenarioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AbstractScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AbstractScenarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Abstracts" minOccurs="0" name="Get_AbstractScenarioResult" nillable="true" type="q5:AbstractScenarioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AbstractSiumulations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AbstractSiumulationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Routing.Domain.Dto.Abstracts" minOccurs="0" name="Get_AbstractSiumulationsResult" nillable="true" type="q6:ArrayOfAbstractSimulationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>